
  
<div class="card filters">

    <div class="card-header">
      <strong>Sort</strong>
    </div>
  
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="ascending">A-Z</label>
          <input type="button" id="ascending" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="descending">Z-A</label>
          <input type="button" id="descending" class="form-control">
        </div>
  
        <button class="btn btn-primary btn-block btn-sm">Sort by Name</button>
      </form>
    </div>
  </div>